@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
} */

.sidebar-sd-sidebar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  cursor: pointer;
  background: var(--dark1);
  transition: 0.5s;
  overflow: hidden;
}

.sidebar-sd-sidebar:hover {
  width: 14rem;
}

.sidebar-sd-sidebar__brand {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: white;
}

.sidebar-sd-sidebar__brand:hover {
  background: var(--dark2);
}

.sidebar-sd-logoc {
  max-width: 75%;
}

.sidebar-sd-sidebar__brand span {
  display: none;
}

.sidebar-sd-sidebar__nav-list {
  list-style: none;
}

.sidebar-sd-sidebar__nav-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebar-sd-sidebar__nav-item:hover {
  background: var(--dark2);
}

.sidebar-sd-sidebar__nav-item.active {
  background: var(--dark2);
}

.sidebar-sd-sidebar__nav-item a {
  position: relative;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
}

.sidebar-sd-sidebar__nav-item__icon {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.sidebar-sd-sidebar__nav-item__text {
  position: relative;
  display: none;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebar-sd-sidebar__avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 700;
}

.sidebar-sd-sidebar__logout {
  margin-left: 0.2rem;
}

.sidebar-sd-sidebar:hover .sidebar-sd-sidebar__brand span {
  display: inline;
}

.sidebar-sd-sidebar:hover .sidebar-sd-logoc {
  display: none;
}

.sidebar-sd-sidebar:hover .sidebar-sd-sidebar__nav-item {
  justify-content: start;
}

.sidebar-sd-sidebar:hover .sidebar-sd-sidebar__nav-item__text {
  display: flex;
  align-items: center;
}
